<% provide(:title, '')%>
<div class="basic-page row">
  <div class="col-md-3 col-sm-3 hidden-xs side-bar">
    <aside>
      <%= render partial: 'shared/category_side_bar', locals: { categories: @categories } %>
      <%= render 'shared/tag_side_bar' %>
    </aside>
  </div>
  <div class="col-md-6 col-sm-9 col-xs-12 index">
    <article>
      <%= render partial: 'posts/posts', locals: { posts: @posts, title: "最近の投稿" } %>
    </article>
    <aside class="visible-xs" style="margin-top: 30px;" >
      <%= render 'shared/tag_side_bar' %>
    </aside>
  </div>
  <div class="col-md-3 hidden-sm hidden-xs index">
    <aside>
        <ul class="list-group vertical-group">
          <li class="list-group-item list-header">MENU</li>
          <li class="list-group-item middle-item">
            <% if log_in? %>
              <%= link_to 'マイページ', user_path(current_user), class: "btn btn-info btn-block" %>
            <% else %>
              <%= link_to 'マイページ', login_path, class: "btn btn-info btn-block" %>
            <% end %>
            <p class="list-group-item-text" style="margin-bottom: 0;">初めてのご利用ですか？</p>
            <%= link_to '新規登録する', new_user_path, class: "btn btn-success btn-block" %>
          </li>
          <li class="list-group-item last-item"></li>
        </ul>
        <ul class="list-group vertical-group">
          <li class="list-group-item list-header">人気の投稿</li>
          <% @popular_posts.each_with_index do |post, i| %>
            <li class="list-group-item middle-item rank-item">
              <%= link_to user_post_path(post.user_id, post) do %>
                <div class="content-set-with-index">
                  <div class="index-number"><%= "#{ i+1 }" %></div>
                  <div class="subject-side"><%= attachment_image_tag post.user, :image, :fill, 25, 25, format: 'jpg', fallback: "/no_image.jpg", size:'25x25'%></div>
                  <div class="content-side">
                    <%=  post.title %>
                  </div>
                </div>
              <% end %>
              <div class="content-half-with-index">
                <div class="half-content glyphicon glyphicon-thumbs-up"><%= post.likes.count %></div>
                <div class="half-content glyphicon glyphicon-tags"><%= post.tags[0].name %>
                  <% if post.tags.count > 1 %><%= "他#{ post.tags.count - 1 }" %><% end %>
                </div>
              </div>
            </li>
          <% end %>
          <li class="list-group-item last-item"></li>
        </ul>
    </aside>
  </div>
</div>
