<% provide(:title, "\"#{ @item.name }\" 編集")%>
<div class="basic-page row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <article class="article-box">
      <h1><%= "\"#{ @item.name }\" 編集" %></h1>
      <%= form_for([:admin, @item.section.category, @item.section, @item]) do |item| %>
        <div class="field">
          <%= item.label :name, '項目', class: "section-label"%>
          <%= item.text_field :name, placeholder: '項目名', class: "form-control" %>
          <%= item.text_area :content, placeholder: '説明文', class: "form-control", style: "height: 200px;" %>
        </div>
        <div class="select-actions">
          <%= item.submit '保存', data: { confirm: '保存します' }, class: "btn btn-info left-btn" %>
          <%= link_to '戻る', request.referrer, data: { confirm: '編集内容は破棄されます' },class: "btn btn-danger right-btn" %>
        </div>
      <% end %>
      <div class="tag-index">
        <% @tags.each do |tag| %>
          <div class="char-area" id="tag-<%= tag.id %>">
            <%= render partial: 'admin/item_tags/tags', locals: { tag: tag, item: @item } %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</div>
