<% if log_in? %>
  <% if post.liked_by?(current_user) %>
    <%= button_to user_post_like_path(
      post.user, post, current_user.likes.find_by(post_id: post.id)),
      method: :delete, remote: true do %>
      <span class="glyphicon glyphicon-thumbs-up" style="color: red;" ><%= post.likes.count %></span>
    <% end %>
  <% else %>
    <%= button_to user_post_likes_path(post.user, post), remote: true do %>
      <span class="glyphicon glyphicon-thumbs-up"><%= post.likes.count %></span>
    <% end %>
  <% end %>
<% else %>
  <span class="glyphicon glyphicon-thumbs-up"><%= @post.likes.count %></span>
<% end %>
