<%= form_for([:admin, User.first, @post]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <article class="article-box">
    <%= f.check_box :is_open, checked: true %>
    <%= f.label :is_open, "公開する" %>
    <div class="field">
      <div class="timer">
        <%= f.text_field :writing_time, id: 'timer_time', readonly: true %>
        <%= button_tag 'スタート', type: 'button', id: "startTimer" %>
        <%= button_tag 'リセット', type: 'button', id: "resetTimer" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, placeholder: "タイトル", class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.select(:tags,
      options_from_collection_for_select(@valid_tags, :id, :name, @post.tags.ids[0]),
      include_blank: '選択してください',
      class: "form-control") %>
      <%= check_box_tag :new_tag %>
      <%= label_tag :new_tag, "新規タグ" %>
      <%= text_field_tag "tag[name]", "", placeholder: 'タグ名'%>
    </div>
    <div class="field">
      <%= f.label :content, '本文' %><span id="count_str">0文字</span>
      <%= f.text_area :content, placeholder: "本文", class: 'form-control' %>
    </div>

    <div class="field">
      <div class="select-actions">
        <%= f.submit '投稿', data: { confirm: '保存します' }, class: "btn btn-success left-btn" %>
        <%= link_to '戻る', request.referrer, data: { confirm: '編集内容は破棄されます' },class: "btn btn-danger right-btn" %>
      </div>
    </div>
  </article>
<% end %>
