<article class="article-box">
  <%= form_for([:admin, User.first, @post]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.check_box :is_open, checked: true %>
    <%= f.label :is_open, "公開する" %>
    <div class="field">
      <div class="timer">
        <%= f.text_field :writing_time, id: 'timer_time', readonly: true %>
        <%= button_tag 'スタート', type: 'button', id: "startTimer" %>
        <%= button_tag 'リセット', type: 'button', id: "resetTimer" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, placeholder: "タイトルは1文字以上、30文字以内で入力してください", class: 'form-control' %>
      <%= text_field_tag "tag[name]", "", placeholder: 'タグ名は1文字以上、10文字以内で入力してください', class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :content, '本文' %><span id="count_str">0文字</span>
      <%= f.text_area :content, placeholder: "本文は1文字以上、2000文字以内で入力してください", class: 'form-control' %>
    </div>

    <div class="field">
      <div class="select-actions">
        <%= f.submit '投稿', data: { confirm: '保存します' }, class: "btn btn-success left-btn" %>
        <%= link_to '戻る', request.referrer, data: { confirm: '編集内容は破棄されます' },class: "btn btn-danger right-btn" %>
      </div>
    </div>
  <% end %>
    <div class="tag-index">
    <% @tags.each do |tag| %>
      <div class="char-area" id="tag-<%= tag.id %>">
        <%= render partial: 'post_tags/post_tags', locals: { post: @post , tag: tag } %>
      </div>
    <% end %>
  </div>
</article>
