<div class="list-group">
  <li class="list-group-item list-header"><%= title %></li>
</div>
<% posts.each do |post| %>
  <div class="list-group">
    <%= link_to user_post_path(post.user_id, post), class: "list-group-item middle-item" do %>
      <h3 class="list-group-item-heading">
        <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpg', fallback: "/no_image.jpg", size:'50x50'%>
        <%= post.title %>
        <% if post.is_open == false %><div class="open_status">非公開</div><% end %>
      </h3>
      <span class="list-group-item-text"><%= "#{ post.created_at.strftime('%Y/%m/%d %H:%M') }___"%>
        <span class="glyphicon glyphicon-thumbs-up"><%= post.likes.count %></span>
        <span class="glyphicon glyphicon-comment"><%= post.comments.count %></span>
        <span class="glyphicon glyphicon-tags">
          <% post.tags.each do |tag| %><%= "#{ tag.name } " %><% end %>
        </span>
      </span>
      <p class="list-group-item-text"><%= post.content[0..139] %><% if post.content.length > 141 %> ...<% end %></p>
    <% end %>
  </div>
<% end %>
<div class="text-center">
  <%= paginate @posts, class: "paginate" %>
</div>
