<% provide(:title, @post.title)%>
<div class="basic-page row">
  <div class="col-sm-3 hidden-xs side-bar">
    <aside>
      <%= render 'shared/tag_side_bar' %>
    </aside>
  </div>
  <div class="col-sm-9 col-xs-12 index">
    <article class="article-box">
      <section>
        <div id="display-post">
          <%= render partial: 'display_post', locals: { creator: current_user, post: @post } %>
        </div>
      </section>
      <div class="comments">
        <div id="new-comment">
          <%= render partial: 'comments/comments', locals: { creator: current_user } %>
        </div>
        <div id="comment-form">
          <% if  log_in? %>
            <%  if @post.is_open == true %>
              <%= render partial: 'comments/comment_form', locals: { creator: current_user } %>
            <% end %>
          <% else %>
            <% session[:forwarding_url] = request.original_url %>
            <%= link_to '投稿する(ログイン)', login_path, class: 'btn btn-info', style: "margin-top: 20px" %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="basic-page row">
  <div class="col-sm-12 col-xs-12">
    <div id="post-form"></div>
  </div>
</div>
