<%= link_to posts_path( tag: tag.name ) do %>
  <%= tag.name %><span class="badge"><%= tag.posts.count %></span>
<% end %>
<% if log_in? %>
  <% if tag.related_to?(current_user) %>
    <%= button_to '削除', favorite_tag_path(current_user.favorite_tags.find_by(tag_id: tag.id), tag_id: tag.id),
      class: "btn btn-danger", method: :delete, remote: true %>
  <% else %>
    <%= button_to '追加', favorite_tags_path(tag_id: tag.id), class: "btn btn-success", remote: true %>
  <% end %>
<% end %>
