<% provide(:title, @category.name)%>
<div class="basic-page row">
  <div class="col-sm-3 col-xs-0 side-bar">
    <aside>
      <%= render 'shared/side_bar' %>
    </aside>
  </div>
  <div class="col-sm-9 col-xs-12 index">
    <% @posts.each do |post| %>
      <div class="list-group">
        <%= link_to user_post_path(post.user_id, post), class: "list-group-item" do %>
          <h3 class="list-group-item-heading">
            <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpg', fallback: "/no_image.jpg", size:'50x50'%>
            <%= "#{ post.title }" %>
          </h3>
          <span class="list-group-item-text"><%= "#{ post.created_at.strftime('%Y/%m/%d %H:%M') }___"%>
          <span class="glyphicon glyphicon-thumbs-up"><%= "#{ post.likes.count }" %></span>
          <span class="glyphicon glyphicon-comment"><%= "#{ post.comments.count }" %></span>
          <span class="glyphicon glyphicon-tags">
            <% post.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </span>
          </span>
          <p class="list-group-item-text"><%= "#{ post.content[0..140] }..." %></p>
        <% end %>
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @posts, class: "paginate" %>
    </div>
  </div>
</div>

